* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #222;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    margin: 30px auto;
    width: 300px;
    border: 1px solid #323232;
    border-radius: 4px;
    padding: 40px;
}
/* style */
:root {
    --label-height: 35px;
    --label-width: 70px;
    --label-border-radius: var(--label-height);
    --label-border: 1px;
    --label-border-color: #323232 var(--label-border) solid;
}
.toggler {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    user-select: none;
    color: #fff;
}
.toggler .toggler__title {
    flex: 0 0 auto;
    width: 80px;
}
.toggler .toggler__input {
    display: none;
}
.toggler .toggler__label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.toggler .toggler__label:before {
    content: '';
    width: var(--label-width);
    height: var(--label-height);
    background-color: #222;
    border-radius: var(--label-border-radius);
    border: var(--label-border-color);
    transition: background-color 0.25s ease-in-out;
}
.toggler .toggler__label:after {
    content: '';
    width: calc(var(--label-height) - calc(var(--label-border) * 4));
    height: calc(var(--label-height) - calc(var(--label-border) * 4));
    position: absolute;
    border-radius: 50%;
    border: var(--label-border-color);
    background-color: #323232;
    transform: translateX(calc(var(--label-border) * 2));
    transition: all 0.25s ease-in-out;
}
.toggler .toggler__input:checked + .toggler__label:after {
    background-color: #5c2f81;
    transform: translateX(calc(var(--label-width) - var(--label-height) + calc(var(--label-border) * 2)));
    border-color: blueviolet;
}
.toggler .toggler__input:checked + .toggler__label:before {
    background-color: #5c2f81;
    border-color: #323232;
}
.toggler .toggler__input ~ .toggler__text:after {
    content: 'Выкл';
    margin-left: 10px;
    transition: all 0.25s ease-in-out;
    color: #fff;
}
.toggler .toggler__input:checked ~ .toggler__text:after {
    content: 'Вкл';
}
